
<table  class="table table-bordered">
    <tbody>
        <tr *ngFor="let row of rows" class="trEmoticon">
            <td *ngFor="let col of cols" class="tdEmoticon">
                <P>
                    {{checkDrawEmoticonExist(row, col)}}
                </P>
            </td>
        </tr>
    </tbody>
</table>