<table  class="table table-bordered">
    <tbody>
        <tr *ngFor="let row of rows" class="trEmoticon">
            <td *ngFor="let col of cols" (click)="drawEmoticonToTable(row, col)" (mousedown)="mouseDown(row, col)" class="tdEmoticon" (mouseover)="mouseOverEmoticon(row, col)" >
                    <!-- (click)="drawEmoticonToTable(row, col)" -->
                <img [src]="checkDrawEmoticonExist(row, col)" alt="">
            </td>
        </tr>
    </tbody>
</table>
<button (click)="clearEmoticonDraw()"> clear </button>