<div class="container">
  <div class="row mt-4">
    <div class="col-md-2">
      <ul class="list-group">
        <li *ngFor="let item of (emoticon$ | async).items" class="list-group-item" (click)="selectItemToDraw(item)">
          <img [src]="item.url" alt="{{ item.title }}" class="mr-2">
        </li>
      </ul>
    </div>

    <div class="col-md-5">
      <drawing-emoticon-component></drawing-emoticon-component>
    </div>

    <div class="col-md-5">
      <draw-copy-emoticon-component></draw-copy-emoticon-component>
    </div>
  </div>
</div>